$color-primary: #292826; // Dark grey
$color-secondary: #FFFFFF; // White-isch
$color-tertiary: #FFAA00; // Yellow


body {
    background: $color-primary;
}

h1, h3, p {
    color: $color-secondary;
}

button {
    background: $color-tertiary;
    color: $color-secondary;
}

#header {
    background: $color-tertiary;
    color: $color-secondary;
}

.card {
    background: $color-tertiary;
    margin-bottom: 20px;
}

.date-picker-style.h1, .date-picker-style.h3, .date-picker-style.p, .date-picker-style.label {
    color: #000000;
}